@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4F46E5;
  --color-secondary: #1E293B;
  --color-accent: #10B981;
  --color-neutral: #020617;
  --color-base-100: #E5E7EB;
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

body {
  @apply bg-neutral text-base-100
}